<!DOCTYPE html> 
<html lang="en" class="no-js">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Mountain Crowd Estimates{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "basic_style.css" %}">
    {% block header %}
    {% endblock %}
    <!-- No HTML5 shiv needed, included in Modernizr -->
  </head>
  <body>
    <header>
      {% block headers %}
      <h1>The Powder Map.</h1>
      {% endblock %}
      <nav class="clear"> <!-- marks the main site navigation, no idea why it has the clear class -->
	<!-- SOLUTION: floated objects do not add to the height of the object they reside in (properly)
	     so they need to be "cleared" in order to have the containing object account for their heights -->
	<!-- Usually clear is used to tell another object to not "float" around an object that is float
	     and to instead hop on down to the bottom below it. -->
	{% block nav %}
	<ul>
	  <li><a href="#article1">Current Mountain Conditions</a></li>
	  <li><a href="#article2">Mountain Crowd Forecasts</a></li>
	  <li><a href="#article3">Traffic Forecasts</a></li>
	</ul>
	{% endblock %}
      </nav>
      <!--<h3>Use our site for up to date info on which mountain and lifts the people aren't at.</h3>-->
    </header>
    <section id="interior_page">
      <!-- define the parts of the code that are different 
	   between the different pages with block tags -->

      {% block content %}<!-- put default content in here, can always be overwritten --> 
      {% endblock %}

      <footer>
	{% block footer %}
	<div class="line"></div>
	<p>Copyright 2014 - Snow Yeti Software LLC</p>
	{% endblock %}
      </footer>
    </section>
    {% block javascript_includes %}
    {% endblock %}
  </body>
</html>
