<!DOCTYPE html> 
<html lang="en" class="no-js">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Mountain Crowd Estimates{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css_reset.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "basic_style.css" %}">
    {% block header %}
    {% endblock %}
    <!-- No HTML5 shiv needed, included in Modernizr -->
  </head>
  <body>
    {% block content %}<!-- put default content in here, can always be overwritten --> 
    {% endblock %}

    {% block footer %}
    <footer id="footer">
      <div class="line"></div>
      <p>Copyright 2014 - Snow Yeti Software LLC</p>
    </footer>
    {% endblock %}

    {% block javascript_includes %}
    {% endblock %}
  </body>
</html>
