{% extends "base_html5.html" %}

{% block header %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "place_holder_style3.css" %}">
<script type="text/javascript" src="{% static "modernizr-2.7.1.js" %}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static "jquery.balupton_scrollTo.js" %}"></script>
<!-- TODO: ?v=00001 is a HACK for development to force browser cache reset, update to autoversioning in the future -->
<script type="text/javascript" src="{% static "place_holder.js" %}?v=00001"></script> 
{% endblock %}

{% block content %}

<header>
  <h1>The Powder Map.</h1>
  <nav class="clear"> <!-- marks the main site navigation, no idea why it has the clear class -->
    <!-- SOLUTION: floated objects do not add to the height of the object they reside in (properly)
	 so they need to be "cleared" in order to have the containing object account for their heights -->
    <!-- Usually clear is used to tell another object to not "float" around an object that is float
	 and to instead hop on down to the bottom below it. -->
    {% block nav %}
    <ul>
      <li><a id="nav_0" href="#article1" class="in_view">Some Count: {{ some_count }}</a></li>
    </ul>
    {% endblock %}
  </nav>
  <!--<h3>Use our site for up to date info on which mountain and lifts the people aren't at.</h3>-->
</header>
<section id="interior_page">
  <!-- define the parts of the code that are different 
       between the different pages with block tags -->
  
  
  <!-- start of first part of scrolling 1 pager -->
  <article id="article1" class="panel">
    <!--<img class="article_bg" src="{% static "images/mountain2.jpg" %}"/>-->
    <div class="content">
      <h2>Current Mountain Conditions</h2>
      <p>This site estimates the current number of skiers in each region of each mountain
	based on publically available data from traffic information, webcams, and social media.  
	Don't get stuck in the crowds!  Check our site from the slopes for the best lift and runs
	to attack next.
      </p>
    </div>
  </article>
  <div class="line" id="article12_line"></div>
  <nav>
    <span class="active"></span>
    <span class=""></span>
    <span class=""></span>
    <span class="snow-yeti-link"></span>
  </nav>
</section>
{% endblock %}
