/* used by the base.html template that is inherited by everything */

body {
/*background-image:url('mountain1.jpg');
background-size: cover;*/
/*background-color:#cccccc;*/
color: black;
}

h1 {
/*background-color:#cccccc;*/
font-size: 4.5em;      /* set size of letters in pixels or em, 1em = current font size (typically 16px) */
font-style: bold;    /* normal, bold, italic */
letter-spacing: 0.05em;
font-family: helvetica, verdana, sans-serif;
color: black;
/*
 in the box model, this is represented by margin, box, padding, element
*/
margin: 10px;  /* can be set with margin-top, bottom, left, right as well */
padding: 20px;
}

h2 {
/*background-color:#cccccc;*/
font-size: 1.5em;      /* set size of letters in pixels or em, 1em = current font size (typically 16px) */
font-style: normal;    /* normal, bold, italic */
letter-spacing: 0.02em;
font-family: helvetica, verdana, sans-serif;
color: black;
/*
 in the box model, this is represented by margin, box, padding, element
*/
margin: 10px;  /* can be set with margin-top, bottom, left, right as well */
padding: 20px;
}
