<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en" class="no-js">
<head>
    <title>{% block title %}Mountain Crowd Estimates{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "basic_style.css" %}">
    {% block header %}
    {% endblock %}
</head>
<body>
    <h1>Avoid the crowds.</h1>
    <h2>Use our site for up to date info on where the people aren't.</h2>

    <!-- define the parts of the code that are different 
	 between the different pages with block tags -->

    {% block content %}<!-- put default content in here, can always be overwritten --> 
    {% endblock %}

    {% block footer %}
    <hr>
    <p>This site produced by the amazing people at Snow Yeti Software LLC.</p>
    {% endblock %}
</body>
</html>
