{% extends "base.html" %}

{% block title %}MMMmmmmountain DATA{% endblock %}

{% block content %}
<p>Breckenridge: {{ breck }}</p>
<p>Vail / Beaver Creek: {{ vail }}</p>
{% endblock %}


<!-- Desired Features: 

     Some estimate of the number of people at each mountain (current and future)
          -- Start with the big ones: Vail, Beaver Creek, Copper Mountain, Breckenridge
          -- What are the most useful stats?  
	         ** ski-able area by color of run / number of people
		 ** total ski-able area / number of people
		 ** snow over the last couple of weeks / number of people
		 ** efficiency / throughput (speed of lifts = # people / second)
		        (total # liftchairs * max # people on one chair) / (2 * time to top of lift)
     Google map location of each mountain and links to direction to each

-->
